# ==========================
# Node.js / JavaScript
# ==========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# ==========================
# Environment files
# ==========================
.env
#.env.local
.env.development
.env.test
.env.production

# ==========================
# Next.js / React
# ==========================
.next/
out/
build/
.next-env.d.ts
api/
backend/

# ==========================
# Backend specific
# ==========================
src/backend/node_modules/
src/backend/.env

# ==========================
# Testing / coverage
# ==========================
/coverage
*.tsbuildinfo

# ==========================
# Misc / OS files
# ==========================
.DS_Store
*.pem

# ==========================
# Deployment / hosting
# ==========================
.vercel
